.greyHere {
  background-color: #555555;
}

.redBox {
  background-color: red;
  padding: 5px;
}

.redBox button {
  background: lightgrey;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
}

ul li:nth-child(odd) {
  background: #dbdbdb;
}

ul li.complete-true {
  background: #868686;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;

}
img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}